.mat-form-field {
    width: 100%;
    height: auto;
    }

.sampleButton {
    color: white;
    background-color:#4F9CF4;
    height: 34px;
    margin-top: 12px;
    width:150px;
    border: blue;
}